body{
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
}
div.head{
	background-color: white;
	width: 100%;
	height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
div.body img{
	width: 100%;
	height: 1500px;
	z-index: -1;
	position: absolute;
}
div.middle1{
	position: relative;
	max-width: 90%;
	height: 50px;
	margin: 0 auto;
	z-index: 1;
}
div.middle1 ul{
	list-style-type:square;
	list-style-type: red;
	margin:0 auto;
}
div.middle1 span{
	color: red;
	letter-spacing: 4px;
	font-size: 30px;
	font-weight: bold;
}
div.middle1 hr{
	margin: 26px 20px;

}
div.middle2{
	background-color: white;
	max-width: 80%;
	height: 1150px;
	margin: 50px auto 0;
	z-index: 1;
	overflow: hidden;
}
div.middle2body{
	max-width: 960px;
    height: auto;
    margin: 60px 20px auto 77px;
}
div.middle2body p{
	font-size: 21px;
	letter-spacing: 3px;
    line-height: 45px;
}
div.foot img{
	width: 100%;
	height: 120px;
	margin:180px auto auto auto;
}
/*div.middle{
	width: 1200px;
	margin: 0 auto;
}*/
